.transactioncard {
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #9B9B9B;
  
  
}

.transactioncardinner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title {
    /* display: flex;
    flex-direction: column;
    justify-content:flex-end; */
    /* align-items:flex-start; */
    font-size: 16px;
    font-weight: 400;
    line-height: 2px;
}

.title p {
    color: #9B9B9B;

}

span {
    color: #F4BB4A;
    font-size: 16px;
    font-weight: 700;
}

.delete {
    background-color: #FF3E3E;
    border-radius: 15px;
    width: 50px;
    height: 50px;
}

.edit {
    background-color: #F4BB4A;
    border-radius: 15px;
    width: 50px;
    height: 50px;
}

.iconstyle {
    background: #D9D9D9;
    border-radius: 50%;
    padding:10px;
}