.pagination {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    /* position: relative;
    z-index: auto; */
}
.btnpagination {
    border-radius: 15px;
 
}

.currentpage {
    background-color: #9B9B9B;
    width: 25px;
    text-align: center;
    color: white;
    border-radius: 2px;
}